<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- Common Parameters -->
  <arg name="ptweight_path" default="$(find yolov8_ros)/weights/2026-03-03-yolov11-road-damage.pt" />
  <arg name="rtweight_path" default="$(find yolov8_ros)/weights/2026-03-03-yolov11-road-damage.engine" />
  <arg name="tensorrt" default="False" />
  <arg name="device" default="cuda" />
  <arg name="camera_frame" default="camera_frame" />
  <arg name="conf_threshold" default="0.3" />
  <arg name="desired_class_ids" default="[0,1,2,3]" />

  <!-- Camera Topics -->
  <arg name="camera_topic_0" default="/cam/right_120/raw" />
  <arg name="camera_topic_1" default="/cam/front_120/raw" />
  <arg name="camera_topic_2" default="/cam/left_120/raw" />
  <arg name="camera_topic_3" default="/cam/back_120_1/raw" />
  <arg name="camera_topic_4" default="/cam/back_120_2/raw" />

 

  <!-- Node for Camera 1 -->
  <node pkg="yolov8_ros" type="yolov8_multi_node_road_damage.py" name="yolov8_multi_node_road_damage_1" output="screen">
    <param name="camera_id" value="1" />
    <param name="camera_topic" value="$(arg camera_topic_1)" />
    <param name="pub_topic_bounding_boxes" value="/yolov8/front_120/BoundingBoxes_road_damage" />
    <param name="pub_topic_detection_image" value="/front_120/detection_image_road_damage" />
    <param name="pub_topic_filtered_image_bbox" value="/front_120/filter_image_bbox_road_damage" />
    <param name="ptweight_path" value="$(arg ptweight_path)" />
    <param name="rtweight_path" value="$(arg rtweight_path)" />
    <param name="tensorrt" value="$(arg tensorrt)" />
    <param name="device" value="$(arg device)" />
    <param name="camera_frame" value="$(arg camera_frame)" />
    <param name="conf_threshold" value="$(arg conf_threshold)" />
    <param name="desired_class_ids" value="$(arg desired_class_ids)" />
  </node>

  

  <!-- Node for Camera 4 -->
  <node pkg="yolov8_ros" type="yolov8_multi_node_road_damage.py" name="yolov8_multi_node_road_damage_4" output="screen">
    <param name="camera_id" value="4" />
    <param name="camera_topic" value="$(arg camera_topic_4)" />
    <param name="pub_topic_bounding_boxes" value="/yolov8/back_120_2/BoundingBoxes_road_damage" />
    <param name="pub_topic_detection_image" value="/back_120_2/detection_image_road_damage" />
    <param name="pub_topic_filtered_image_bbox" value="/back_120_2/filter_image_bbox_road_damage" />
    <param name="ptweight_path" value="$(arg ptweight_path)" />
    <param name="rtweight_path" value="$(arg rtweight_path)" />
    <param name="tensorrt" value="$(arg tensorrt)" />
    <param name="device" value="$(arg device)" />
    <param name="camera_frame" value="$(arg camera_frame)" />
    <param name="conf_threshold" value="$(arg conf_threshold)" />
    <param name="desired_class_ids" value="$(arg desired_class_ids)" />
  </node>

</launch>

